<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'images/icon.svg' %}"
      type="image/x-icon" />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <script src="{% static 'uikit/app.js' %}" defer></script>

    <title>DevSearch - Connect with Developers!</title>
  </head>
  <body>
    {% include 'navbar.html' %} {% if messages %} {% for message in messages %}
    <div class="alert  alert--{{message.tags}}">
      <p class="alert__message">{{message}}</p>
      <button class="alert__close">x</button>
    </div>

    {% endfor %} 
    {% endif %} 
    
    {% block content %} 
    
    {% endblock content %}

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
